<p>Ask your coach anything</p>
<form class='d-flex mx-auto'action="/answer" method="get">
  <input class='form-control' type="text" name="question">
  <input class='btn btn-primary' type="submit" value="Ask!">
</form>
