// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$gray: #F4F4F4;
$yellow: #FFFFE1;
$dark_grey: #333333;

.question {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $gray;
  border-radius: 5px;
  border-left: 5px solid $dark_grey;
}

.answer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $yellow;
  border-radius: 5px;
  border-left: 5px solid $dark_grey;
}
